random.seed 6
network.size 20
control.densitycontroler.range 20
simulation.endtime 43200000

protocol.positionprotocolimpl PositionProtocolImpl
protocol.positionprotocolimpl.maxspeed 20
protocol.positionprotocolimpl.minspeed 1
protocol.positionprotocolimpl.width 1500
protocol.positionprotocolimpl.height 1500
protocol.positionprotocolimpl.pause 1200000

protocol.emitterimpl EmitterImpl
protocol.emitterimpl.latency 90
protocol.emitterimpl.scope 300

protocol.neighborprotocolimpl NeighborProtocolImpl
protocol.neighborprotocolimpl.probe_period 3000
protocol.neighborprotocolimpl.timeout 3500
protocol.neighborprotocolimpl.emitter emitterimpl

initial_position_strategy Strategy5Init
initial_position_strategy.positionprotocol positionprotocolimpl
initial_position_strategy.emitter emitterimpl
initial_position_strategy.distance_init_min 200
initial_position_strategy.distance_init_max 200

next_destination_strategy Strategy4Next
next_destination_strategy.positionprotocol positionprotocolimpl
next_destination_strategy.emitter emitterimpl
initial_position_strategy.distance_min 200
initial_position_strategy.distance_max 200

#control.graphicalmonitor GraphicalMonitor
control.graphicalmonitor.positionprotocol positionprotocolimpl
control.graphicalmonitor.neighborprotocol neighborprotocolimpl
control.graphicalmonitor.time_slow 0.2
control.graphicalmonitor.emitter emitterimpl
control.graphicalmonitor.step 1

control.densitycontroler DensityControler
control.densitycontroler.from 3600000
control.densitycontroler.until 43200000
control.densitycontroler.step 120000
control.densitycontroler.neighborprotocol neighborprotocolimpl

init.init_module Initialisation